@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideOn {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes showAnimate {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideOn {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes showAnimate {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
body{
    background-color:moccasin;
}

#head{
display: flex;
justify-content: center;
background-color:white;
padding-top: 10px;
padding-bottom: 7px;

}

#st{
    margin-top: -10px;
    color: burlywood;
}
#bran{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size:x-large;
}
#sale{
    display: flex;
    justify-content: center;
    background-color:moccasin;
    transition: background-color 0.3s, transform 0.3s;
    
}
#sale:hover {
 
    transform: scale(1.01);
}

#black{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#itms{

    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    
}
#men1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    
}
#men2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    
}
#men3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    
}

#women1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    
}

#women2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    
}
#women3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    
}
#women4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    
}

#kids1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    
}

#kids2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    
}
#mnmn{
    display: flex;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style:oblique;
    margin-top: 30 px;
}
.card{

    transition: background-color 0.3s, transform 0.3s;
    
}
.card:hover {
 
    transform: scale(1.01);
}
#foot{
    margin-top: 100px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:white;
  color:black;
}
#logos{
    display:flex;
    margin-top: 20 px;
    justify-content:center;
    background-color: white;
}

